{% extends 'fallout_wiki/base.html' %}

{% block title %}联邦数据库 | Pip-Boy 3000 Mk IV{% endblock %}

{% block content %}
<!-- Tabs navs -->
<ul class="nav nav-tabs nav-justified mb-3" id="mainTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a
        class="nav-link active"
        id="locations-tab"
        data-mdb-tab-init
        href="#locations"
        role="tab"
        aria-controls="locations"
        aria-selected="true"
        >地点 [{{ locations|length }}]</a
        >
    </li>
    <li class="nav-item" role="presentation">
        <a
        class="nav-link"
        id="factions-tab"
        data-mdb-tab-init
        href="#factions"
        role="tab"
        aria-controls="factions"
        aria-selected="false"
        >派系 [{{ factions|length }}]</a
        >
    </li>
    <li class="nav-item" role="presentation">
        <a
        class="nav-link"
        id="regions-tab"
        data-mdb-tab-init
        href="#regions"
        role="tab"
        aria-controls="regions"
        aria-selected="false"
        >区域 [{{ regions|length }}]</a
        >
    </li>
    <li class="nav-item" role="presentation">
        <a
        class="nav-link"
        id="creatures-tab"
        data-mdb-tab-init
        href="#creatures"
        role="tab"
        aria-controls="creatures"
        aria-selected="false"
        >生物 [{{ creatures|length }}]</a
        >
    </li>
    <li class="nav-item" role="presentation">
        <a
        class="nav-link"
        id="consumables-tab"
        data-mdb-tab-init
        href="#consumables"
        role="tab"
        aria-controls="consumables"
        aria-selected="false"
        >消耗品 [{{ consumables|length }}]</a
        >
    </li>
</ul>
<!-- Tabs navs -->

<!-- Tabs content -->
<div class="tab-content" id="mainTabContent">
    <div class="tab-pane fade show active" id="locations" role="tabpanel" aria-labelledby="locations-tab">
        <div class="list-group">
            {% for item in locations %}<a href="{% url 'fallout_wiki:wiki_detail' model_name='location' pk=item.pk %}" class="list-group-item list-group-item-action">{{ item.name_cn }}</a>{% endfor %}
        </div>
    </div>
    <div class="tab-pane fade" id="factions" role="tabpanel" aria-labelledby="factions-tab">
        <div class="list-group">
            {% for item in factions %}<a href="{% url 'fallout_wiki:wiki_detail' model_name='faction' pk=item.pk %}" class="list-group-item list-group-item-action">{{ item.name }}</a>{% endfor %}
        </div>
    </div>
    <div class="tab-pane fade" id="regions" role="tabpanel" aria-labelledby="regions-tab">
        <div class="list-group">
            {% for item in regions %}<a href="{% url 'fallout_wiki:wiki_detail' model_name='region' pk=item.pk %}" class="list-group-item list-group-item-action">{{ item.name }}</a>{% endfor %}
        </div>
    </div>
    <div class="tab-pane fade" id="creatures" role="tabpanel" aria-labelledby="creatures-tab">
        <div class="list-group">
            {% for item in creatures %}<a href="{% url 'fallout_wiki:wiki_detail' model_name='creature' pk=item.pk %}" class="list-group-item list-group-item-action">{{ item.name }}</a>{% endfor %}
        </div>
    </div>
    <div class="tab-pane fade" id="consumables" role="tabpanel" aria-labelledby="consumables-tab">
        <div class="list-group">
            {% for item in consumables %}<a href="{% url 'fallout_wiki:wiki_detail' model_name='consumable' pk=item.pk %}" class="list-group-item list-group-item-action">{{ item.name }}</a>{% endfor %}
        </div>
    </div>
</div>
<!-- Tabs content -->
{% endblock %}